body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, serif;
}

.map {
  height: 100vh;
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 100;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

#credit {
  bottom: 0;
  right: 0;
}

#input {
  right: 0;
}

#admin {
  bottom: 0;
  left: 0;
}

#search form {
  display: flex;
  justify-content: right;
  padding-top: 8px;
}

input#search-title {
  width: 235px;
}
#search-label {
  padding-right: 5px;
}

a {
  transition: 0.5s;
  color: black;
  text-decoration: none;
}

a:hover {
  transition: 0.5s;
  color: #1f1f1f;
  text-decoration: underline #1f1f1f solid;
}

input[type="submit"] {
  background-color: #cccccc;
  border-radius: 5px;
  border: none;
}

#popup {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
